<h1>Create User</h1>

<form method="POST" action="/users">
  <input name="username" placeholder="username" />
  <input name="password" placeholder="password" />

<select name="role_id" class="border p-2 w-full">
  <option value="1">Admin</option>
  <option value="2">Editor</option>
  <option value="3">Viewer</option>
</select>

  <button>Create</button>
</form>